.row-fluid
    .col-md-12
        .col-md-3
        .col-md-6
            .row-fluid
            %h1 Redeem Amazon Gift Card
            %div
                %ul.nav.nav-tabs{:role => "tablist"}
                    %li{:role => "presentation"}
                        %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
                    %li.active{:role => "presentation"}
                        %a{"aria-controls" => "account", "data-toggle" => "tab", :href => "#account", :role => "tab", "aria-expanded" => "true"} Retailer Accounts
                    %li{:role => "presentation"}
                        %a{"aria-controls" => "mycode", "data-toggle" => "tab", :href => "#mycode", :role => "tab"} My Codes
                / Tab panes
                .tab-content
                    #settings.tab-pane{:role => "tabpanel"} 
                    #account.tab-pane.active{:role => "tabpanel"}
                        .row-fluid
                            %form{:action => "add-new-account"}
                                %h3 Retailer Accounts
                                %h4 Add Retailer Account
                                .form-group
                                    %span Retailer
                                    %input#retailer.form-control{:placeholder => "Amazon.com", :name => "retailer"}
                                .form-group
                                    %span Amazon Email
                                    %input#email.form-control{:type => "email", :name => "email"}
                                .form-group
                                    %span Amazon Password
                                    %input#password.form-control{:type => "password", :name => "password"}
                                .form-group
                                    %span Zip or Postal Code
                                    %input#zip.form-control{:name => "zip"}
                                .form-group
                                    %span Phone Number
                                    %input#phone.form-control{:type => "phone", :name => "phone"}
                                %input.btn.btn-primary{:type => "submit", :value => "Add Retailer Account"}
                    #mycode.tab-pane{:role => "tabpanel"} 
                        .row-fluid
                            - if @request.success?
                                - @request.results.each do |activity|
                                    = activity.status # => SUCCESS, FAILURE, RESEND
                                    = activity.created_at
                                    = activity.type
                                    = activity.card_number
                                    = activity.amount
                                    = activity.error_code
                                    = activity.gc_id
                                    = activity.partner_id
                                    = activity.request_id
                            - else
                                = @request.error_message 
        .col-md-3


